@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
:root {
    --orange: #FD6E0A;
    --dark2: #474747;
    --bg: #FFF8F3;
    --dark1: #181818;
    --dark3: #757575;
}
* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    font-family: "Open Sans", sans-serif;
}
p {
    line-height: 28px;
    color: var(--dark3);
}
.btn {
    font-size: 20px;
    padding: 18px 35px;
    background-color: var(--orange);
    color: white;
    font-weight: 700;
    border-radius: 5px;
}
.btn:hover {
    border: 1px solid var(--orange);
    background-color: white;
    color: var(--orange);
}
.section-title {
    font-size: 35px;
    font-weight: bold;
    color: var(--dark1);
}
.section-description {
    font-size: 18px;
    font-weight: 400;
    color: var(--dark3);
    margin-top: 30px;
}



.main {
    background-color: var(--bg);
    background-image: url('images/developer.png'), url('images/header_bg.png');
    background-repeat: no-repeat;
    background-position: center left, bottom right;
}
.main .btn {
    margin-right: 30px;
}
header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 230px 0 230px;
}
header nav h3 {
    font-weight: 800;
    font-size: 45px;
}
header nav h3 span {
    color: var(--orange);
}
header nav ul {
    display: flex;
    align-items: center;
}
header nav ul li {
    list-style: none;
    margin-right: 51px;
}
header nav ul li a {
    font-size: 20px;
    color: var(--dark2);
}
.banner {
    display: flex;
    justify-content: space-between;
    margin: 0 38px 0 230px;
}
.banner .content {
    width: 585px;
    margin-top: 185px;
}
.banner .content h2 {
    font-size: 45px;
    font-weight: 600;
    color: var(--dark2);
}
.banner .content h1 {
    font-size: 85px;
    font-weight: bold;
    color: var(--dark1);
    margin-top: 5px;
}
.banner .content p {
    font-size: 18px;
    font-weight: 400;
    color: var(--dark3);
    margin-top: 20px;
}
.banner .content .btn {
    margin-top: 30px;
}
.about {
    border-radius: 10px;
    text-align: center;
}
.about .about-container {
    background-color: var(--bg);
    margin: 130px 230px;
    height: 550px;
    display: flex;
    align-items: center;
    border-radius: 10px;
}
.about .about-container .content {
    border: 1px solid black;
    margin: 0 156px;
}
.about .about-container .content .items {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
.about .about-container .content .items p {
    font-size: 20px;
}
.item-description {
    font-weight: bold;
}
.do {
    text-align: center;
    margin: 0 230px;
    margin-bottom: 130px;
}
.do .section-description {
    width: 909px;
    margin: auto;
    margin-top: 30px;
}
.do .container {
    display: flex;
    gap: 24px;
    padding-top: 50px;
    justify-content: space-between;
}
.do .container .content {
    width: 267px;
    /* height: 377px; */
    padding: 30px;
    text-align: left;
    box-shadow: 0 6px 50px 0 rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    
}
.do .container .content h4 {
    margin-top: 30px;
    font-size: 20px;
    color: var(--dark1);
}
.do .container .content p {
    margin-top: 20px;
    color: var(--dark3);
    padding-right: 60px;
    line-height: 28px;
}
.resume {
    text-align: center;
    margin: 0 230px 113px 230px;
    
}
.resume .container {
    display: flex;
    gap: 24px;
    justify-content: center;
    text-align: left;
}
.resume .container .content {
    margin-top: 113px;
}
.resume .container .content .experience {
    margin-top: 30px;
}
.resume .container .content h2 {
    font-size: 30px;
    font-weight: bold;
    color: var(--dark2);
}
.resume .container .content .experience h3 {
    font-size: 25px;
    font-weight: bold;
    color: var(--dark2);
}
.resume .container .content .experience h4 {
    font-size: 20px;
    font-weight: 600;
    color: var(--dark3);
    margin-top: 10px;
}
.resume .container .content .experience p {
    margin-bottom: 30px;
    padding-right: 200px;
}
.resume .container .content hr{
    height: 1px;
    background-color: #D1D1D1;
    width: 100%;
}
.resume .btn {
    margin-top: 50px;
}
footer {
    background-color: var(--bg);
    padding: 130px 230px;
    display: flex;
    gap: 117px;
}
footer .container {
    width: 100%;
}
footer .container h3 {
    font-size: 35px;
    font-weight: bold;
    color: var(--dark1);
    margin-bottom: 20px;
}
footer .container p {
    width: 562px;
    margin-bottom: 30px;
}
footer .container .icon a {
    margin-right: 24px;
}
footer input[type="text"], footer input[type="email"], footer textarea{
    background-color: white;
    color: var(--dark3);
    border-radius: 5px;
    display: block;
    width: 100%;
    padding: 18px 0 18px 30px;
    margin-bottom: 24px;
}