@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
:root {
    --color: #FF0000;
    --color-1: rgba(7, 2, 17, 0.6);
}
* {
    margin: 50px 140px 0 140px;
    padding: 0;
    border: none;
    text-decoration: none;
    list-style: none;
    font-family: "Inter", sans-serif;
    text-align: center;
}